<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.his.nurse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name="com.his.nurse.HisApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.his.nurse.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.his.nurse.activity.HomeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        
        <!-- 体征采集 -->
        <activity 
            android:name="com.his.nurse.activity.SignsCollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize">
            
        </activity>
        
        <activity 
            android:name="com.his.nurse.activity.InAndOutAmountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize">
            
        </activity>
        
        <activity 
            android:name="com.his.nurse.activity.InAndOutAmountCollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize">
            
        </activity>
        
        <!-- 输液监控 -->
        <activity 
            android:name="com.his.nurse.activity.InfusionMonitorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize">
            
        </activity>
        
        
    </application>

</manifest>
